[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
linkml-runtime = ">= 1.1.21"
jsonpath-ng = "*"
"ruamel.yaml" = "*"
jsonpatch = "*"
jinja2 = "*"
linkml-runtime-api = {editable = true, path = "."}

[dev-packages]

[pipenv]
allow_prereleases = false
