[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
linkml-runtime = ">= 1.1.6"
jsonpath-ng = "*"
"ruamel.yaml" = "*"
jsonpatch = "*"
jinja2 = "*"

[dev-packages]

[pipenv]
allow_prereleases = true
